.card {
    border-color: transparent;
    background-color: transparent;
}



.wrap-.collapse {
    margin-bottom: 1.2rem 0;
  }
  
  
  .card-header {
    display: block;
  
    font-weight: bold;
    font-family: monospace;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
  
    padding: 1rem;
  
    color: #A77B0E;
    background-color: rgb(86, 93, 100);
  
    cursor: pointer;
  
    border-radius: 7px;
    transition: all 0.25s ease-out;
  }
  
  .card-header:hover {
    color: #7C5A0B;
  }
  
  .card-header::before {
    content: ' ';
    display: inline-block;
  
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
  
    transition: transform .2s ease-out;
  }
  
  /*
  .toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
  }*/
  
  /*.collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
  }*/
  /*
  .toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 100vh;
  }*/
  
  .card-header {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .card-body{
    background-image: initial;
    background-color: rgba(108, 100, 79, 0.63);
    /*background: rgba(182, 160, 105, 0.63);*/
    border-bottom: 1px solid rgba(250, 224, 66, .45);
    border-bottom-color: rgba(161, 146, 54, 0.45);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
  }

